{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
{% endblock %}

{% block content %}

<section class="logo-container">
  <div class="baby-container">
    <img src="{% static 'main_app/static/images/baby1.png' %}" alt="The Django Daycare Baby" />
  </div>
  <img 
    src="{% static 'images/logotype.svg' %}" 
    alt="Text reads: Django Daycare"
  />
</section>
{% if not user.is_authenticated %}
  <section>
    <form action="{% url 'home' %}" method="POST" class="login">
      <h1>Login</h1>
      {% csrf_token %}
      {{ form.as_p }}
      <input type="hidden" name="next" value="{{ next }}">
      <button type="submit" class="btn submit">Login</button>
    </form>
  </section>
{% endif %}

{% endblock %}