{% load static %}

{% block head %}
<link 
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" 
  rel="stylesheet" 
/>
<link rel="stylesheet" href="{% static 'css/mcdp.css' %}">
<script 
  src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"
>
</script>
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/babies/baby-detail.css' %}"
/>
<script defer src="{% static 'js/baby-detail.js' %}"></script>
{% endblock %}

{% block content %}
<section class='baby-container'>
  <div class="baby-img">
    <img 
      src="{% static 'main_app/static/images/baby1.png' %}" 
      alt="A generic baby"
    >
  </div>
  <div class="baby-details">
    <h1>{{ baby.name }}</h1>
    {% if baby.age > 0 %}
      <h2>A {{ baby.age }} month old baby</h2>
    {% else %}
      <h2>A newborn</h2>
    {% endif %}
    <p>{{ baby.description }}</p>
    <div class="baby-actions">
      <a href="{% url 'babies_update' baby.id %}" class="btn warn">Edit</a>
      <a href="{% url 'babies_delete' baby.id %}" class="btn danger">Delete</a>
    </div>
  </div>
</section>
<div class="feedings-toy-container">
  <section class="feedings">
    <div class="subsection-title">
      <h2>Feedings</h2>
      
    </div>
    <h3>Add a Feeding</h3>
    <form
      action="{% url 'add_feeding' baby.id %}"
      method="POST"
      class="subsection-content"
    >
    {% if baby.fed_for_today %}
    <p class="fed">{{baby.name}} has been fed all their meals for today!</p>
    {% else %}
    <p class="unfed">{{baby.name}} might be hungry!</p>
    {% endif %}
      {% csrf_token %}
      {{ feeding_form.as_p }}
      <button type="submit" class="btn submit">Add Feeding</button>
    </form>
    <table>
      <thead>
        <tr><th>Date</th><th>Meal</th></tr>
      </thead>
      <tbody>
        {% for feeding in baby.feeding_set.all %}
          <tr>
            <td>{{ feeding.date }}</td>
            <td>{{ feeding.get_meal_display }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <div class="subsection-content">
      <p>{{ cat.name }} has never been fed :(</p>
    </div>
  {% endif %}
</section>
<section class="toys">
  <div class="subsection-title">
    <h2>Toys</h2>
    <img src="{% static 'images/string.svg' %}" alt="A ball of string" />
    <img src="{% static 'images/mouse.svg' %}" alt="A mouse" />
    <img src="{% static 'images/fish.svg' %}" alt="A fishy toy" />
  </div>
  <h3>{{ cat.name }}'s Toys</h3>
  <div class="subsection-content">
    {% if cat.toys.count %}
      {% for toy in cat.toys.all %}
        <div class="toy-container">
          <div
            class="color-block"
            style="background-color: {{ toy.color }}"
          ></div>
          <a href="{% url 'toys_detail' toy.id %}">
            <p>A {{ toy.color }} {{ toy.name }}</p>
          </a>
        </div>
      {% endfor %}
    {% else %}
      <p class="no-toys">{{ cat.name }} doesn't have any toys :(</p>
    {% endif %}
  </div>
  <h3>Available Toys</h3>
  <div class="subsection-content">
    {% if toys.count %}
      {% for toy in toys.all %}
        <div class="toy-container">
          <div 
            class="color-block"
            style="background-color: {{ toy.color }}"
          ></div>
          <a href="{% url 'toys_detail' toy.id %}">
            <p>A {{ toy.color }} {{ toy.name }}</p>
          </a>
          <form action="{% url 'assoc_toy' cat.id toy.id %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn submit">Give toy</button>
          </form>
        </div>
      {% endfor %}
    {% else %}
      <p class="all-toys">
        {{ cat.name }} already has all the available toys 🥳
      </p>
    {% endif %}
  </section>
</div>

{% endblock %}