{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/babies/baby-index.css' %}"
/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>Babies</h1>
  <img src="{% static 'main_app/static/images/babby1.png' %}" alt="A generic baby" />
</section>

<section class="card-container">
  {% for baby in babies %}
    <div class="card">
      <a href="{% url 'babies_detail' baby.id %}">
        <div class="card-content">
          <div class="card-img-container">
            <img 
              src="{% static 'main_app/static/images/baby2.png' %}" 
              alt="A generic baby"
            >
          </div>
          <h2 class="card-title">{{ baby.name }}</h2>
          {% if baby.age > 0 %}
            <p>A {{ baby.age }} month old baby</p>
          {% else %}
            <p>A newborn</p>
          {% endif %}
          <p><small>{{ baby.description }}</small></p>
        </div>
      </a>
    </div>
  {% endfor %}
</section>

{% endblock %}